mixin why-we()
  +b.why-we&attributes(attributes)
    +e.item
      p
        span 1
        | #{' '} пространство для всех искусств
      p.descr Для вашего комфортного и качественного развития

    +e.item
      p
        span 1
        | #{' '} месяц обучения
      p.descr Чтобы увидеть результат и выйти на новый уровень, который оценят окружающие
    +e.item
      p
        span 15
        | #{' '} лет мощного опыта
      p.descr Мы работаем в разных творческих направлениях уже более 15 лет и активно выступаем на площадках перед абсолютно разной  публикой
    +e.item
      p
        span 2
        | #{' '} месяца качественного роста
      p.descr Вместе с нами от профессионала до эксперта, с возможностью преподавать и зарабатывать
    +e.item
      p
        span 11357
        | #{' '} учеников
      p.descr С нами стали счастливее и успешнее
    +e.item
      p
        span 4
        | #{' '} поколения чемпионов Мира
      p.descr Выросли под нашим руководством
    block
