mixin bg-image(path, video)
  +b.bg-image&attributes(attributes)
    if video
      video(poster=`assets/video/${path}.jpg` muted controls)
        source(src=`assets/video/${path}.webm` type='video/webm')
        source(src=`assets/video/${path}.mp4` type='video/mp4')
    else
      img(src=`assets/images/${path}` alt=path)
